.r-container {
  display: flex;
  align-items: center;
}
.img {
  height: 20px;
  width: 20px;
  margin-right: 6px;
}

.score-container {
  background-image: url('https://res.cloudinary.com/dedvz7flb/image/upload/v1713845947/Ellipse_123_yinjoj.png');
  background-size: cover;
  height: 130px;
  width: 130px;
  padding: 12px;
  margin-right: 6px;
}
.score {
  color: #0EA5E9;
  margin-top: 14px;
  margin-left: 4px;
}
.first-result-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.trophy-container {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url('https://res.cloudinary.com/dedvz7flb/image/upload/v1713871025/Frame_8769_ti9zqs.png');
  background-size: cover;
  align-items: center;
}
.report-btn {
  width: Hug (86px)px;
height: Hug (40px)px;
top: 757px;
left: 678px;
padding: 8px 20px 8px 20px;
gap: 10px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
background-color: #0EA5E9;
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
}
.unattempt {
  width: 380px;
height: 64px;
top: 630px;
left: 195px;
gap: 0px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;
border: none;
margin: 2px;
}
.correct-ans {
  background-color: greenyellow;
}